.container {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.header_tiltle {
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 2rem;
}

.input_container {
    position: relative;
    margin-top: 10px;
}

.submit_button {
    position: absolute;
    right: 5px;
    top: 0px;
    bottom: 0px;
    color: #ffffff;
    background: transparent;
    width: 50px;
    height: 55px;
    font-size: 35px;
    text-align: center;
    font-weight: regular;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 0px;
}

.input_text {
    height: 50px;
    background: rgba(20, 30, 48, 255);
    border: solid 1px #1797a9;
    border-right: none;
    outline: none;
    color: #ffffff;
    font-weight: 300;
    padding-right: 60px;
    position: absolute;
    left: 0;
    right: 0;
    direction: rtl;
    border-radius: 10px;
    font-family: 'IranSans' !important;
    word-wrap: break-word;

}

.input_max {
    width: 96.30%;
}

.input_min {
    width: 96.00%;
}