.container {
    display: flex;
    flex-flow: column;
}

.header_tiltle {
    color: #343a40;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 2rem;
}

.input_container {
    position: relative;
}

.submit_button {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    color: #ffffff;
    background: #2BA0D9;
    width: 50px;
    height: 55px;
    font-size: 20px;
    text-align: center;
    font-weight: regular;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 0px;
}

.input_text {
    width: 93.65%;
    height: 50px;
    background: #b3b3b3;
    border: solid 1px #808080;
    border-right: none;
    outline: none;
    color: #343a40;
    font-weight: 300;
    padding-right: 60px;
    position: absolute;
    left: 0;
    right: 0;
    direction: rtl;
    border-radius: 10px;
    font-family: 'IranSans' !important;
    word-wrap: break-word;
}

.toast_message {
    background: darkblue;
    color: #fff;
    font-size: 20px;
    font-family: 'IranSans' !important;
    width: 34vw;
    padding: 30px 20px;
}