/* Popup style */
.popup_box {
    position: fixed;
    background: rgb(0 0 0 / 61%);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;
    direction: ltr;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    position: fixed;
    max-height: 70vh;
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
    width: 77%;
}

p {
    margin-bottom: 60px;
}

.input_reason {
    width: 93%;
    height: 50px;
    border-radius: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.12);
    margin-left: 20px;
    margin-top: 20px;
    direction: rtl;
    padding-right: 45px;
    font-family: 'IranSans';
    word-wrap: break-word;
}

.input_container {
    position: relative;
}

.submit_button {
    position: absolute;
    right: 15px;
    top: 20px;
    bottom: 0px;
    color: black;
    background: transparent;
    width: 50px;
    height: 55px;
    font-size: 20px;
    text-align: center;
    font-weight: regular;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 0px;
}

.close_container {
    display: flex;
    justify-content: end;
}

.close_icon {
    content: 'x';
    cursor: pointer;
    /* position: fixed; */
    right: calc(15% - 12px);
    top: calc(100vh - 85vh - 12px);
    background: #89d8d3;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_container {
    display: flex;
    justify-content: end;
}