@font-face {
  font-family: IranSans;
  src: url('./styles/font/IRANSansWeb\(FaNum\).woff');
}

body {
  margin: 0;
  font-family: 'IranSans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#141e30, #243b55);
}


.MuiDataGrid-root {
  font-family: 'IranSans' !important;
}