.container {
    /* background-color: #808080; */
    background-color: rgba(20, 30, 48, 255);
    margin-top: 150px;
    height: 39rem;
    border: solid 1px #1797a9;
    border-radius: 5px;
    padding: 15px 25px;
    display: flex;
    flex-flow: column;
    overflow: scroll;
    overflow-x: hidden;
    opacity: 0.9;
    border-style: outset;

}


.close {
    width: 20px;
}

.toggle_button {
    width: 35px;
    height: 28px;
    align-self: flex-end;
}

.card {
    /* background-color: #b3b3b3; */
    background-color: rgba(36, 59, 85, 255);
    color: #343a40;
    border-radius: 0 5px 5px 5px;
    direction: rtl;
    padding: 16px;
    margin-bottom: 20px;
    margin-top: 10px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    place-content: space-between;
}

.card span {
    color: white
}

.button_container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}