.container {
    background-color: #808080;
    margin-top: 150px;
    height: 64vh;
    border-radius: 5px;
    padding: 15px 25px;
    display: flex;
    flex-flow: column;
    overflow: scroll;
}


.card {
    background-color: #b3b3b3;
    color: #343a40;
    border-radius: 0 5px 5px 5px;
    direction: rtl;
    padding: 16px;
    margin-bottom: 20px;
    margin-top: 10px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    place-content: space-between;
}

.button_container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}