.custom_btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'IranSans' !important;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn_5 {
    border: none;
    background: linear-gradient(0deg, #89d8d3 0%, #89d8d3 100%);
    padding: 0 8px;
}

.btn_5:hover {
    color: #fff;
    background: #4f9fad;
    box-shadow: none;
}

.btn_5:before,
.btn_5:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #89d8d3;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.btn_5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn_5:hover:before,
.btn_5:hover:after {
    width: 100%;
    transition: 800ms ease all;
}